<div class="keyboard" [class.capsed]="capsed">
    <div class="keys-row clearfix">
      <div class="key" *ngFor="let key of model[0].keys" (click)="keyPressed(key)">{{key}}</div>
    </div>
    <div class="keys-row clearfix">
      <div class="key narrow" style="width: 24px;">-</div>
      <div class="key" *ngFor="let key of model[1].keys" (click)="keyPressed(key)">{{key}}</div>
      <div class="key narrow" style="width: 24px;">-</div>
    </div>
    <div class="keys-row clearfix">
      <div class="key caps" (click)="capsed = !capsed">
        <img src="/assets/images/capslock.svg">
      </div>
      <div class="key" *ngFor="let key of model[2].keys" (click)="keyPressed(key)">{{key}}</div>
      <div class="key backspace" (click)="keyPressed(-1)">
          <img src="/assets/images/backspace.svg">
      </div>
    </div>
    <div class="keys-row clearfix">
        <div class="key narrow" style="width: 76.5px;">-</div>
        <div class="key space" (click)="keyPressed(' ')">Space</div>
        <div class="key search" (click)="keyPressed(1)">Search</div>
        <div class="key hide-keyboard" (click)="keyPressed(0)" style="width: 73.5px;">
            <img src="/assets/images/arrow-down.svg">
        </div>
    </div>
</div>