.keyboard {
    background: #333;
    position: fixed;
    bottom: 0;
    left: calc(~"50% - 170px");
    padding: 0 2px 2px 0;
    z-index: 7;
    &.capsed {
        .key:not(.space):not(.search) {
            text-transform: uppercase;
        }
    }
    .keys-row {
        text-align: center;
        .key {
            background: #555;
            border-radius: 1px;
            box-shadow: inset 0 1px 1px rgba(255,255,255, .1);
            color: #fff;
            cursor: pointer;
            float: left;
            height: 45px;
            line-height: 45px;
            margin: 2px 0 0 2px;
            text-align: center;
            width: 50px;
            &.caps {
                img {
                    width: 40%;
                }
            }
            &.space {
                width: 257.5px;
            }
            &.search {
                background: #63b12d;
                width: 104.5px;
            }
            &.backspace {
                img {
                    width: 40%;
                }
            }
            &.hide-keyboard {
                img {
                    height: 40%;
                }
            }
            &.narrow {
                width: auto;
                color: transparent;
            }
        } 
    }
}