.form__header {
  align-items: center;
  display: flex;
  height: 88px;
  justify-content: space-between;
  width: 100%;
}
.form__header a {
  align-items: center;
  color: #2ed13b;
  display: flex;
  font-size: 14px;
  justify-content: space-between;
  text-decoration: none;
}
.back {
  float: left;
  margin-left: 30px;
  width: 32px;
}
label {
  color: #111;
  font-size: 12px;
  margin: 12px 0 0 0;
}
.form__header a p {
  margin: 0 0 0 12px;
}
.form__header h3 {
  color: #111;
  font-size: 24px;
  margin: auto;
}
.form__header button {
  border: none;
  background-color: #fff;
  cursor: pointer;
  font-size: 25px;
  margin-right: 30px;
}
.form__header button:active,
.form__header button:focus {
  outline: none;
}
.form-group {
  margin: 0 36px;
}
.form__item {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  width: 385px;
}
.form__item input {
  border-radius: 1px;
  border-style: solid;
  border-width: 1px;
  border-color:  #b6c6b7;
  box-shadow: inset 0 2px 4px rgba(137, 181, 106,.2);
  width: 385px;
  margin: 10px 0px;
  padding: 11px 14px;
  height: 40px;
}
.form__item input:focus {
  outline-color: #B0D895;
}

#ddmobilenumber:invalid {
  outline-color: red;
}
.form__item button {
  align-self: flex-end;
  border: none;
  background-color: #fff;
  color: #2ed13b;
  cursor: pointer;
}
.form__item button:active,
.form__item button:focus {
  border-color: #fff;
  outline-color: #fff;
}

.form__footer {
  align-items: center;
  background-color:  #f2f2f2;
  border-radius: 0 0 3px 3px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 88px;
  justify-content: center;
  width: 100%;
}
.form__footer button {
  border: none;
  background-color:  #63b12d;
  border-radius: 20px;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  height: 35px;
  width: 385px;
}
.form__footer a {
  border: none;
  background-color:  #63b12d;
  border-radius: 20px;
  color: #fff;
  display: block;
  font-size: 14px;
  font-weight: 600;
  height: 35px;
  line-height: 35px;
  text-align: center;
  text-decoration: none;
  width: 385px;
}

.form__footer a:hover,
.form__footer button:hover {
  background-color: #307E00;
}
.form__footer button:active {
  outline: none;
}

.form-control.ng-invalid.ng-touched {
  border-color: red;
}

button[disabled="disabled"],
button[disabled] {
  background: #ccc !important;
}