 <form class="login-form" #loginForm="ngForm" (ngSubmit)="run(loginForm)">
    <div class="form__header">
      <div class="back">
        <a (click)="loginStep = 1" [hidden]="loginStep == 1">
          <img src="/assets/images/Rectangle3.png" alt="">
          <p>Back</p>
        </a>
      </div>
      <h3>Sign in</h3>
      <button (click)="modalRef.hide()">✕</button>
    </div>
    <div class="step" [hidden]="loginStep !== 1">
      <div ngModelGroup="firstStep" #firstStep="ngModelGroup">
        <div class="form-group form__item" >
          <label for="identityHook">Mobile number or merchant ID</label>
          <input class="form-control" 
                 id="ddmobilenumber" 
                 type="text" ngModel 
                 name="identityHook" 
                 #identityHook 
                 required pattern="^[ 0-9]+$" placeholder=" ">
          <button>Resend OTP</button>
        </div>
        <div class="form-group form__item">
          <label for="email">Email</label>
          <input class="form-control" required
                 pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" 
                 id="ddEmail" type="email" #email name="email" ngModel>
        </div>
      </div>
      <div class="form__footer">
        <button (click)="requestOPT(loginForm)" [disabled]="!firstStep.valid">Request OTP</button>
      </div>
    </div>
    <div class="step" [hidden]="loginStep !== 2">
      <div class="form-group form__item" >
        <label for="ddOTP">OTP</label>
        <input class="form-control" id="ddOTP" name="ddOTP" type="text" ngModel required>
        <button>Resend OTP</button>
      </div>
      <div class="form-group form__item">
        <label for="ddLicense">License Number</label>
        <input class="form-control" id="ddLicense" name="ddLicense" type="text" ngModel required>
      </div>
      <div class="form-group form__item">
        <label for="ddShopCode">Shop code</label>
        <input class="form-control" id="ddShopCode" name="ddShopCode" type="text" ngModel required>
      </div>
      <div class="form__footer">
        <button [disabled]="!loginForm.valid" type="submit">Sign in</button>
      </div>
    </div>
  </form>