<div class="modal-header">
    <h4 class="modal-title pull-left">Number of covers</h4>
</div>
<div class="modal-body">
    <form #setCoversForm="ngForm" name="setCoversForm">
        <input type="text" #coversInput="ngModel" [(ngModel)]="modal.covers" name="coversAmount"
        (change)="modalRef.content.coversAmount = coversInput.value" id="covers-amount">
    </form>
</div>
<div class="modal-footer">
    <button class="btn pill-btn empty" (click)="modalRef.hide()">Cancel</button>
    <button class="btn pill-btn operative" 
      (click)="decision='done';modalRef.hide()">Done</button>
</div>
