.modal-body {
    padding: 25px;
    width: 250px;
}
.modal-footer {
    text-align: center;
}
.btn {
    width: 80px;
}
input[type='text'] {
    padding: 7px 11px;
    text-align: center;
    width: 100%;
}