.autocomplete {
    border: 1px solid #ccc;
    border-top: none;
    position: absolute;
    padding-top: 7px;
    left: 10px;
    top: 43px;
    width: calc(~"100% - 20px");
    z-index: 10;
    .item {
        background: #fff;
        cursor: pointer;
        padding: 8px 16px;
        padding-right: 46px;
        &:hover {
            background: #f9f9f9;
        }
        img {
            display: none;
            margin: -6px -38px -8px 0;
            float: right;
            height: 32px;
        }
        &.active {
            font-weight: bold;
            img {
                display: inline-block;
            }
        }
    }
    .footer { 
        background: #fff;
        text-align: center;
        padding: 12px 0;
        button {
            height: 40px;
            width: 160px;
        }
    }
}