<div class="autocomplete" *ngIf='items.length'>
  <div class="item" [class.active]="item.active"
       (click)="item.active = !item.active"
       *ngFor="let item of items;">
      {{item.text}}
      <img src="/assets/images/ok.svg">
  </div>
  <div class="footer">
      <button class="btn pill-btn operative" (click)="add()">Add in Favorites</button>
  </div>
</div>