<div class="dish-details">
    <form #dishDetailsForm="ngForm" class="clearfix">
        <div class="quantity pull-left">
            <label>Quantity</label>
            <input class="form-control" ngModel #quantity="ngModel" name="quantity" type="number">
        </div>
        <div class="price pull-left">
            <label>Price</label>
            <input class="form-control" ngModel #price="ngModel" name="price" type="number">
        </div>
        <div class="discount pull-left">
            <label>Discount</label>
            <div class="input-group">
                <input class="form-control" ngModel #discount="ngModel" name="discount" type="number">
                <span class="input-group-btn" [class.percents]="isPercentsDiscount" (click)="isPercentsDiscount = !isPercentsDiscount">
                    <button class="btn btn-secondary percents" type="button">%</button>
                    <button class="btn btn-secondary currency" type="button">$</button>
                </span>
            </div>
        </div>
        <div class="action clearfix">
            <a class="pull-right" (click)="editDishDetails(dish, dishDetailsForm)" *ngIf="phase === 1">Edit</a>
            <a class="pull-right" (click)="hideDishDetails()" *ngIf="phase === 2">Done</a>
        </div>
        <div>
            <label>Notes</label>
            <input class="form-control" ngModel #note="ngModel" name="note" type="text">                                                
        </div>
    </form>
    <div class="action clearfix">
        <a class="pull-right" (click)="showInventoryModal(dish)">Show Inventory & Details</a>
    </div>
</div>