.dish-details {
    background: #fff;
    margin-left: -21px;
    padding-bottom: 12px;
    width: calc(~"100% + 21px");
    .quantity {
      margin-right: 1%;
      width: 27%;  
    }
    .price {
        margin-right: 1%;
        width: 27%;
    }
    .discount {
        width: 44%;
    }
    .action a {
        color: #63b12d;
    }
    label {
        font-size: 12px;
        font-weight: normal;
        margin-bottom: 2px;
    }
    button.percents {
        display: none;
    }
    .percents {
        button.percents {
            border-radius: 0 3px 3px 0;            
            display: inline-block;
        }
        button.currency {
            display: none;
        }
    }
}