agm-map {
    border-radius: 0 0 3px 3px;
    height: 100%;
    padding-top: 60px;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
}
agm-map .agm-map-container-inner {
    height: 100%;
}
