.modal-header {
    .close {
        font-size: 46px;
        font-weight: 100;
        height: 29px;
        line-height: 26px;
        opacity: 0.6;
        &:hover {
            opacity: 0.8;
        }
        &.with-img {
            height: 40px;
            width: 40px;
        }
    }
}
.ok {
    height: 32px;
    margin-top: -6px;
    width: 32px;
}
.modal-body {
    padding: 0;
    width: 270px;
}

.modal-footer {
    text-align: center;
    .btn.pill-btn {
        width: 100px;
    }
}
.seat {
    padding: 8px 17px;
    border-bottom: 1px solid #eee;
    &.choosen {
        img {
            display: block;
        }
    }
    img {
        display: none;
    }
}