<div class="modal-header">
    <h4 class="modal-title pull-left">Add Seats</h4>
    <button type="button" class="close with-img pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">
            <img src="/assets/images/close.svg">
        </span>
    </button>
</div>
<div class="modal-body">
    <div class="seat" [class.choosen]="choosensMap[i]"
         (click)="choosensMap[i] = !choosensMap[i]"
         *ngFor="let visitor of unit.visitors; let i = index">
        Seat {{i + 1}}
        <img src="/assets/images/ok.svg" class="ok pull-right">
    </div>
</div>
<div class="modal-footer">
    <button class="btn pill-btn empty" (click)="modalRef.hide()">Cancel</button>
    <button class="btn pill-btn operative" 
      (click)="decision='send';modalRef.content.artefacts = getResult();modalRef.hide()">Send</button>
</div>