.menu-container {
    .search-container {
        padding: 10px;
    }
    input, button {
        height: 40px;
    }
    .keyboard-btn {
        background: url(/assets/images/keyboard.png), #c4e6be;
        background-size: 32px;
        background-repeat: no-repeat;
        background-position: 8px 3px;
        padding: 6px 5px;
        width: 50px;
    }
    .search-btn {
        background: url(/assets/images/search.png);
        border: none;
        background-size: 32px;
        background-repeat: no-repeat;
        background-position: -3px -3px;
        height: 28px;
        padding: 0px 14px;
        position: absolute;
        right: 55px;
        top: 6px;
        right: 55px;
        z-index: 3;
    }
    .input-group-btn {
        padding: 0;
    }
} 

.menu-container {
    height: 100%;
    padding-top: 143px;
    .tabs{
        border-top: 1px solid #63b12d;
    }
    .top {
        height: 60px;
        margin-top: -143px;
    }
    .tabs ul {
        height: 82px;
        overflow-y: auto;
        border-bottom: none;
        li{
            height: 41px;
            width: 25%;
            text-align: center;
            background-color: #F0F5EE;
            border-bottom: 1px solid #ACB1AB;
            margin: 0px;
            .chapter-trigger {
                cursor: pointer;
                border: none;
                font-size: 16px;
                color: #666;
                padding: 0px;
                line-height: 40px;
            }
        }
    }

    .menu-item {
        border-radius: 3px;
        height: 120px;
        float: left;
        overflow: hidden;
        position: relative;
        width: 100%;
        
        &.in-drag {
            position: fixed !important;
            z-index: 7;
        }
        .img-container {
            background-size: cover;
            background-position: center;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            overflow: hidden;
            width: 100%;
            img {
                height: auto;
                width: 100%;
            }
        }
        .caption{
            height: 56px;
            background-color: rgba(0,0,0,0.7);
            position: absolute;
            width: 100%;
            bottom: 0px;
            font-size: 16px;
            color: white;
            font-weight: 600;
            padding: 3px 10px;
            .price{
                float: left
            }
            .save{
                float: right;
            }
            .name {
                white-space: nowrap;
                text-overflow: ellipsis;
                word-wrap: break-word;
                overflow: hidden;
                width: 100%;
            }
        }
        .offer-label {
            background: #ff2a2a;
            color: #fff;
            cursor: pointer;
            visibility: hidden;
            left: 0;
            padding: 2px 12px 2px 6px;
            position: absolute;
            top: 9px;
            &:after, &:before {
                content: '';
                position: absolute;
                right: -8px;
                top: 0;
                border: 12px solid #ff2a2a;
                border-right: 8px solid transparent;
                border-left: transparent;
            }
            &:before {
                border-bottom-color: transparent;
            }
            &:after {
                border-top-color: transparent;
            }
        }
        .labels{
            position: absolute;
            right: 5px;
            top: 5px;
            .quantity{
                width: 29px;
                height: 29px;
                background-color: #FF2A2A;
                border-radius: 3px;
                text-align: center;
                line-height: 29px;
                font-size: 20px;
                color: white;
                box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.63);
            }
        }
        hr {
            border-bottom: 1px solid #63b12d;
            border-top: 2px solid #63b12d;
            height: 2px;
            margin: 0;
            position: absolute;
            bottom: 2px;
            visibility: hidden;
            width: 100%;
        }
        &.offer {
            .offer-label {
                visibility: visible;
            }
        }
        &.modifier {
            hr {
                visibility: visible;
            }
        }
    }
}

.menu-container .tab-content {
    height: 100%;
    overflow: auto;
    padding: 0 6px 6px 1px;
    .tab-pane {
        margin: 0;
        width: 100%;
    }
}




.subtotal-price ul{
    padding: 0px;
    margin-bottom: 3px;
}

.subtotal-price ul:first-child{
border-bottom: 1px solid #037707;
    margin-bottom: 6px;
}

.subtotal-price ul:first-child li:first-child{
    font-weight: 600;
}

.subtotal-price ul li{
    list-style-type: none;
    color: white;
    font-size: 16px;
    height: 26px;
}

.subtotal-price ul li span:first-child{
    float: left;
    width: 75px;
    text-align: right;
}

.subtotal-price ul li span:last-child{
    float: right;
}

body.modal-open .subtotal-price{
    display: block;
}

