<div class="menu-container">
    <div class="top">
        <form class="input-group search-container" name="search-form" #searchForm="ngForm">
            <input type="text" class="form-control" placeholder="Search for..." 
                   (keyup)="reactOnSearchChange($event, searchField)"
                   #searchField [(ngModel)]="searchParam.text" name="search-param">
            <div *ngIf="displayAutocomplete">
                <autocomplete 
                    [artefacts]="{data: dishesModel, way: ['dishes', 'name'], search: searchParam.text}" 
                    (action)="reactOnAautocomplete($event)"></autocomplete>
            </div>
            <span class="input-group-btn">
                <button class="search-btn" type="button" (click)="runSearch(searchField.value)"></button>
                <button class="btn btn-default keyboard-btn" type="button"
                        (click)="showKeyboard = !showKeyboard"></button>
            </span>
        </form>
    </div>
    <div class="tabs">
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" [class.active]="currentDishesGroup === menuChapter.name" 
                *ngFor="let menuChapter of menuChapters" (click)="switchDishesGroup(menuChapter.name)">
                <a class="chapter-trigger" role="tab" data-toggle="tab">
                    {{menuChapter.name}}</a>
            </li>
        </ul>
    </div>
    <div class="container-fluid tab-content slim-scroll">
        <div role="tabpanel" class="row tab-pane fade clearfix in"
            [class.active]="currentDishesGroup === dishesGroup.name" 
            *ngFor="let dishesGroup of dishesModel">
            <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3" style="padding: 7px 0 0 7px;" 
                 *ngFor="let dish of dishesGroup.dishes">
                <div class="dish menu-item " (click)="addDish(dish);"
                    [class.offer]="dish.offer"
                    [draggableDish]="{data: {dish: dish}}">
                    <div class="img-container" style="background-image: url(/assets/images/dish.jpg)"></div>
                    <div class="caption">
                        <div class="price">{{dish.price | currency:"USD":true:"2.2"}}</div>
                        <div class="save" *ngIf="dish.discount">-{{dish.discount}}</div>
                        <div class="name">{{dish.name}}</div>
                    </div>
                    <div class="offer-label" (click)="showOffersModal(dish)">OFFER</div>
                    <div class="labels" *ngIf="countGrabbed(dish) > 0">
                        <div class="quantity">{{countGrabbed(dish)}}</div>
                    </div>
                    <hr>
                </div>
            </div>
        </div>
    </div>
</div>
<app-keyboard *ngIf="showKeyboard" (keyboard-action)="reactOnKeyboardAction($event, searchField)"></app-keyboard>
