/* main.less */

.modal {
    .spartan-modal {
        .modal-header {
            background: #555;
            padding: 8px 16px;
            * {
                color: #fff;
                font-weight: normal;
            }
        }
    }
    .spartan-modal,
    .centred-modal,
    .common-modal {
        height: 100%;
        margin: 0;
        width: 100%;
        position: fixed;
        display: flex;
        .modal-content {
            border: none;
            border-radius: 3px;
            margin: auto;
        }
    }

    .common-modal {
        display: flex;
        height: 100%;
        margin: 0;
        position: fixed;
        width: 100%;
        .modal-content {
            max-height: 100%;
            padding: 12px;
        }
        .modal-header {
            border-bottom: none;
            padding: 0;
            margin: 10px;
        }
    }
    .common-modal,
    .centred-modal {
        .close {
            font-size: 46px;
            font-weight: 100;
            height: 29px;
            line-height: 26px;
            opacity: 0.6;
            &:hover {
                opacity: 0.8;
            }
            &.with-img {
                height: 40px;
                width: 40px;
            }
        }
        .modal-footer {
            border: none;
            text-align: center;
        }
    }
}
.park-modal {
    .modal-content {
        background: none;
        box-shadow: none;
        height: 100%;
        width: 100%;
    }
}
.offers-modal {
    .modal-content {
        min-width: 600px;
        height: 80%;
    }
}
.btn.pill-btn {
    border: 1px solid #63b12d;
    color: #63b12d;
    border-radius: 20px;
    background-color: #fff;
    padding: 5px 0;
}
.btn.pill-btn.operative {
    background: #63b12d;
    color: #fff;
}

.module {
    border: 1px solid #dee8d6;
    border-radius: 3px;
    float: left;
    box-shadow: 0px 2px 4px 0px rgba(99,177,45,0.11);
    background-color: white;
    margin: 0px 10px;
    overflow-y: auto;
    position: relative;
    height: calc(~"100vh - 110px");
    &.left {
        width: 299px;
    }
    &.center {
        width: calc(~"100% - 475px");
    }
    &.options {
        background: none;
        border: none;
        box-shadow: none;
        overflow: visible;
        width: 115px;
    }
}

.slim-scroll {
    &::-webkit-scrollbar-track {
        background: #F5F5F5;
        border-radius: 10px;
    }
    &::-webkit-scrollbar {
        height: 5px;
        background: #F5F5F5;
        width: 5px;
    }
    
    &::-webkit-scrollbar-thumb {
        background: #868686;
        border-radius: 10px;
    }
}

