/* park-modal.component */

.modal-header {
    border: none;
}
.modal-body {
    height: calc(~"100% - 200px");
    overflow-x: auto;
    padding-top: 36px;
    text-align: center;
}
.off-units {
    height: 100%;
    margin: 0 auto;
    padding-right: 15px;
    width: max-content;
}
.off-unit {
    background: #fff;
    border-top: 1px dashed #808080;
    box-shadow: 0 0 16px rgba(0,0,0, .4);
    display: inline-block;
    height: 100%;
    min-width: 292px;
    &:not(:last-of-type) {
        margin-right: 8px;
    }
    .ok {
        height: 32px;
        border-radius: 50%;
        box-shadow: 0 0 0 3px rgba(0,0,0, .2);
        background: #fff;
        position: absolute;
        top: -18px;
        right: 134px;
        visibility: hidden;
    }
    &.selected {
        .ok {
            visibility: visible;
        }
    }

    .header {
        padding: 8px 12px;
        position: relative;
        .name {
            font-weight: bold;
        }
    }
}
.location,
.unit {
    color: #ccc;
    padding: 4px 10px;
    text-align: left;
    span {
        margin-right: 12px;
    }
}
.location {
    background: #333;
}
.unit {
    background: #555;
}
.modal-footer {
    button {
        box-shadow: 0 0 16px rgba(0,0,0, .4);
        width: 100px;
    }
}
.bold {
    font-weight: bold;
}
.seats {
    height: calc(~"100% - 84px");
    overflow: auto;
}
.dish {
    border-bottom: 1px dashed #ccc;
    padding: 8px 12px;
}
.course:last-of-type {
    .dish:last-of-type {
        border-bottom: none;
    }
}