<div class="modal-header">
  <button type="button" class="close with-img pull-right" aria-label="Close" (click)="modalRef.hide()">
    <span><img src="/assets/images/close.svg"></span>
  </button>
</div>
<div class="modal-body slim-scroll">
  <div class="off-units">
    <div class="off-unit" [class.selected]="selectedHoldUnit === offUnit" *ngFor="let offUnit of offUnits" (click)="selectedHoldUnit = offUnit">
      <div class="header">
        <img class="ok" src="/assets/images/ok.svg">
        <div class="sub-info clearfix">
          <div class="name pull-left"></div>
          <div class="date pull-right">{{offUnit.activePhase.timeStamp | date:'d MMMM y'}}</div>
        </div>
        <div class="sub-info clearfix">
          <div class="pull-left"></div>
          <div class="time pull-right">{{offUnit.activePhase.timeStamp | date:'jm'}}</div>
        </div>
      </div>
      <div class="location">
        <span>{{offUnit.location}}</span>
        <span>Table No - {{offUnit.tables.join(", ") }}</span>
      </div>
      <div class="seats slim-scroll">
        <div *ngFor="let seat of offUnit.visitors;">
          <div class="unit">
            <span class="caption">Seat No - 1</span>
            <span class="caption">Items - {{seat.dishes[0].length + seat.dishes[1].length}}</span>
          </div>
          <div class="dishes">
            <div class="course" *ngFor="let course of seat.dishes">
              <div class="dish" *ngFor="let dish of course">
                <div class="clearfix">
                  <div class="item bold pull-left">{{dish.name}}</div>
                  <div class="price bold pull-right">
                    {{dish.price * dish.amount | currency:"USD":true:"2.2"}}
                  </div>
                </div>
                <div class="clearfix">
                  <div class="item small pull-left" *ngIf="dish.plus">+ {{dish.plus}}</div>
                  <div class="price small pull-right">
                    {{dish.extraFee | currency:"USD":true:"2.2"}}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button class="btn pill-btn empty" (click)="modalRef.hide()">Cancel</button>
  <button class="btn pill-btn operative" (click)="decision='select';modalRef.hide()">Select</button>
</div>