.modal-body {
    margin: 0 60px;
    padding: 0 0 12px 0;
    width: 270px;
    .input-group {
        width: 100%;
    }
    label {
        font-size: 12px;
    }
    select {
        border: 1px solid #aaa;
        border-radius: 2px;
        height: 40px;
        margin-bottom: 8px;
        width: 100%;
    }
    input {
        border-color: #aaa;
        border-radius: 2px;
        height: 40px;
    }
    .discount-units {
        background: #fff;
        border: 1px solid #aaa;
        border-radius: 0 2px 2px 0;
        font-size: 22px;
        line-height: 26px;
        padding: 6px 8px;
    }
}

.modal-footer {
    .btn.pill-btn {
        width: 80px;
    }
}