<div class="modal-header">
    <button type="button" class="close with-img pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">
            <img src="/assets/images/close.svg">
        </span>
    </button>
</div>
<div class="modal-body">
    <form #discountsForm="ngForm" name="discountsForm">
        <label>Discount Type</label>
        <div class="input-group">
          <select>
            <option>Corporate</option>
            <option>Another</option>
          </select>
        </div>
        <div class="input-group">
            <input class="form-control" ngModel #discount="ngModel" name="discount" type="number">
            <span class="input-group-btn" [class.percents]="isPercentsDiscount" (click)="isPercentsDiscount = !isPercentsDiscount">
                <button class="btn btn-secondary discount-units" type="button" *ngIf="isPercentsDiscount">%</button>
                <button class="btn btn-secondary discount-units" type="button" *ngIf="!isPercentsDiscount">{{currency}}</button>
            </span>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn pill-btn empty" (click)="modalRef.hide()">Cancel</button>
    <button class="btn pill-btn operative" 
      (click)="decision='done';modalRef.hide()">Done</button>
</div>
