<div class="module left slim-scroll">
  <app-basket></app-basket>
</div>
<div class="module center slim-scroll">
  <app-menu (addingDish)="reactOnAddingDish($event)"></app-menu>
</div>
<div class="module options slim-scroll">
  <app-options-box></app-options-box>
</div>
<app-payment-component *ngIf="isPaymentOpen"></app-payment-component>
