<div class="block left slim-scroll" style="padding-bottom: 48px;">
    <div class="top" *ngIf="currentLocation">
        <span class="price pull-left">Total</span>
        <span class="items">{{getItemsAmount()}} Items</span>
        <span class="price">{{getGeneralPrice() | currency:"USD":true:"2.2"}}</span>
    </div>
    <div class="panel-group visitors">
        <div class="location" *ngIf="currentLocation">
            <span>{{currentLocation.name}}</span>
            <span>Table No - {{currentUnit.tables}}</span>
        </div>
        <div class="panel panel-default visitor" (click)="stagedVisitor = visitor"
            [class.active]="stagedVisitor === visitor"
            *ngFor="let visitor of currentUnit.visitors; let visitorIndex = index">
            <div class="panel-heading" (click)="toggleVisitor(visitor)">
                <span class="caption">Seat No - {{visitorIndex + 1}} </span>
                <span class="caption">Items - {{visitor.dishes[0].length + visitor.dishes[1].length}}</span>
                <div class="pull-right">
                    <span class="off-price" *ngIf="visitor.isOff">{{getVisitorsOrderPrice(visitor) | currency:"USD":true}}</span>
                    <span class="more" stopPropagation (click)="toggleMoreOptions($event, visitorIndex)">More
                            <div class="more-options" *ngIf="state.moreOptionsMap[visitorIndex]">
                                <div class="option"
                                        *ngFor="let option of moreOptionsListModel" id="{{option.callback}}">
                                    {{option.text}}
                                    <img *ngIf="option.active" src="/assets/images/ok.svg">
                                </div>
                            </div>
                        </span>
                </div>
            </div>
            <div class="" [hidden]="visitor.on !== true">
                <div class="panel-collapse collapse in">
                    <div class="panel-body">
                        <div class="meal-course group" *ngFor="let course of visitor.dishes; let courseIndex = index"
                             dropDish (myDrop)="onDrop($event, course)">
                            <div class="group-heading">C-1</div>
                            <ul class="clearfix dishes">
                                <li class="dish" *ngFor="let dish of course; let dishIndex = index" 
                                    [draggableDish]="{data: {dish: dish, address: [visitorIndex, courseIndex, dishIndex]}}">
                                    <div class="dish-info">
                                        <p class="clearfix" (click)="toggleDishDetails($event, dish)">
                                            <span class="dish-name">{{dish.amount}} {{dish.name}}</span>
                                            <span class="dish-price">
                                                {{dish.price * dish.amount | currency:"USD":true:"2.2"}}
                                            </span>
                                        </p>
                                        <p class="clearfix" [hidden]="!dish.plus">
                                            <span class="add">+ {{dish.plus}}</span>
                                            <span class="extra-price">
                                                {{dish.extraFee | currency:"USD":true:"2.2"}}
                                            </span>
                                        </p>
                                        <a class="remove" (click)="removeTheDish(visitorIndex, courseIndex, dishIndex)"></a>
                                    </div>
                                    <dish-details (editDish)="editDishDetails($event, dish)"
                                                  (hide)="dish.expanded = false"
                                                  [dish]="dish" [hidden]="!dish.expanded">
                                    </dish-details>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="subtotal-price hide">
        <ul>
            <li><span>Sub Total</span><span>$ 1301.00</span></li>
        </ul>
    </div>
</div>
<div class="print" *ngIf="currentLocation">
    <a (click)="checkPrint()">Check print</a>
</div>