
.block.left {
    height: 100%;
    overflow-y: auto;
}

.block.left .top{
	height: 60px;
    line-height: 60px;
    text-align: right;
    padding: 0px 10px;
}

.block.left .top .items{
	font-size: 14px;
    color: #666;
    margin-right: 10px;
}

.block.left .top .price{
    font-size: 21px;
    color: #ee2e2e;
}
.block.left .panel-group .panel{
    margin: 0px;
    margin-bottom: 1px;
    border-radius: 0px;
    border: none;
}
.panel.active {
    box-shadow: inset 0 0 0 2px #2a343c;
}
.block.left {
    .panel-heading {
        cursor: pointer;
        height: 28px;
        padding: 0px;
        border-radius: 0px;
        border: none;
        line-height: 28px;
    }
    .location {
        background: #202020;
        color: white;
        cursor: pointer;
        font-weight: 600;
        font-size: 12px;
        height: 28px;
        line-height: 28px;
        margin-bottom: 1px;
        padding-left: 12px;
        padding-right: 10px;
        height: 28px;
        width: 100%;
        span {
            opacity: 0.7;
            margin-right: 17px;
        }
    }
}

.block.left .panel-heading {
    background-color: #2A343C;
    font-weight: 600;
    font-size: 12px;
    color: white;
    line-height: 28px;
    display: inline-block;
    width: 100%;
    height: 28px;
    padding-right: 10px;
    padding-left: 12px;
    position: relative;
    text-decoration: none;
}

.block.left .panel-heading.collapsed {
	background-color: #202020;
}

.block.left .panel-heading {
    .caption {
        opacity: 0.7;
        margin-right: 17px;
    }
    .off-price {
        color: #ff8f8f;
        margin-right: 17px;
    }
}

.more-options {
    background: #fff;
    box-shadow: 0 0 0 1px rgba(0,0,0, .1), 0 0 7px rgba(0,0,0, .4);
    position: absolute;
    right: 0;
    top: 28px;
    z-index: 8;
    .option {
        color: #6a6a67;
        padding: 2px 10px;
        width: 180px;
        &:hover {
            background: #f9f9f9;
        }
        &:not(:last-child) {
            border-bottom: 1px solid #f1f1f1;
        }
        img {
            float: right;
            height: 26px;
        }
    }
}
.block.left .panel-group .panel-body .group{
    overflow: hidden;
    margin-bottom: 15px;
}

.block.left .panel-group .panel-body .group-heading{
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background-color: #76F2BF;
    line-height: 22px;
    text-align: center;
    color: white;
    font-size: 11px;
    font-weight: 600;
    position: relative;
    float: left;
}

.block.left .panel-group .panel-body .group-heading:after{
    content: "";
    width: 2px;
    height: 500px;
    display: block;
    background-image: url(/assets/images/dots.png);
    position: absolute;
    left: 10px;
    top: 10px;
}

.block.left .panel-group .panel-body ul {
    padding-left: 31px;
    margin-bottom: 0px;
}

.block.left .panel-group .panel-body .dish {
    background: #fff;
    list-style-type: none;
    position: relative;
    margin-bottom: 9px;
    &.in-drag {
        position: fixed !important;
        z-index: 7;
    }
    .dish-info {
        position: relative;
    }

}

.block.left .panel-group .panel-body ul li:last-child{
	margin-bottom: 0px;
}

.block.left .panel-group .panel-body {
    .dish-name {
        font-size: 14px;
        color: #666;
        margin-bottom: 0px;
        text-overflow: ellipsis;
        position: relative;
        width: 150px;
        white-space: nowrap;
        overflow: hidden;
        display: block;
        float: left;
    }
    p {
        margin-bottom: 0;
    }
    .dish-price,
    .extra-price {
        float: left;
        text-align: right;
        width: 63px;
    }
    .remove {
        float: left;
        width: 12px;
        height: 15px;
        background-image: url(/assets/images/remove.png);
        position: absolute;
        top: 50%;
        right: 0px;
        margin-top: -8px;
    }
    .add,
    .extra-price {
        font-size: 12px;
        color: #787878;
        margin-top: -2px;
        letter-spacing: -0.4px;
        float: left;
    }
    .add {
        width: 150px;
        padding-left: 12px;
    }
}

.print {
    position: absolute;
    background: #fff;
    padding: 16px 0;
    margin-top: -67px;
    text-align: center;
    width: calc(~"100% - 5px");
    a {
        width: 129px;
        height: 35px;
        display: inline-block;
        border-radius: 18px;
        background-color: #63b12d;
        color: white;
        line-height: 35px;
        text-align: center;
    }
} 