/* app.component */

body {
    background-color: #f2f2f2;
    color: #6a6a67;
    font-family: OpenSans-Regular, sans-serif;
    min-width: 900px! important;
}

.container {
    width: 100%;
    padding: 0px 20px;
}
.container .row {
    margin: 0px -10px;
}
header .ogd-menu {
    margin-top: -3px;
}
.nav-trigger {
    float: left;
    margin-right: 16px;
}
.name {
    float: left;
    font-size: 120%;
}
.where {
    color: #aaa;
}
.artefacts {
    margin-left: 16px;
    line-height: 24px;
}
.currency {
    color: #b0b0b0;
    font-size: 16px;
    margin-right: 6px;
}
.artefacts img {
    height: 18px;
}
.divider {
    margin: 0 8px;
}

.more-about-customer {
    color: #63b12d;
    cursor: pointer;
    font-size: 32px;
    float: left;
    height: 20px;
    line-height: 18px;
    margin: 2px 0 0 8px;
}

.subtotal-price{
    position: absolute;
    bottom: 0px;
    width: 299px;
    z-index: 2000;
    background-color: #63b12d;
    left: 0px;
    border-radius: 3px;
    padding: 15px 13px 0px;
    display: none;
}

body.mdal-open .subtotal-price{
    display: block;
}

.subtotal-price ul{
    padding: 0px;
    margin-bottom: 3px;
}

.subtotal-price ul:first-child{
border-bottom: 1px solid #037707;
    margin-bottom: 6px;
}

.subtotal-price ul:first-child li:first-child{
    font-weight: 600;
}

.subtotal-price ul li {
    list-style-type: none;
    color: white;
    font-size: 16px;
    height: 26px;
}

.subtotal-price ul li span:first-child {
    float: left;
    text-align: right;
    width: 75px;
}

.subtotal-price ul li span:last-child{
    float: right;
}

body.modal-open .subtotal-price{
    display: block;
}

header{
    background-color: white;
    height: 70px;
}

header .menubutton{
    width: 46px;
    height: 46px;
    border-radius: 50%;
    background-color: #63b12d;
    position: relative;
    top: 12px;
    cursor: pointer;
    padding: 16px 12px;
}

header .menubutton span{
    width: 22px;
    height: 2px;
    display: block;
    border-radius: 2px;
    background-color: white;
    margin-bottom: 4px;
}

.menu {
    position: absolute;
    width: 160px;
    height: 100vh;
    background-color: #6A6A67;
    left: -200px;
    top: 0px;
    z-index: 4000;
    box-shadow: 3px 0px 95px 0px rgba(76,96,63,0.64);
}

.menu .top{
    background-color: white;
    height: 70px;
    margin-bottom: 40px;
    padding: 0px 15px 0px 25px;
}

.menu .top img{
    padding: 24px 0px;
}

.menu .top a{
    width: 21px;
    height: 21px;
    opacity: 1;
    border-radius: 50%;
    margin: 24px 0px;
    background-image: url(/assets/images/close2.png);
}

.menu .menucontainer ul{
    padding-left: 0px;
}

.menu .menucontainer ul li{
    list-style-type: none;
    height: 90px;
    text-align: center;
    padding-top: 15px;
}


.menu .menucontainer ul li.active{
    background-color: #243328;
    text-align: center;
}

.menu .menucontainer ul li.active a{
    color: #2ed13b;
}

.menu .menucontainer ul li a{
    color: white;
    text-transform: uppercase;
    font-weight: 300;
}

.menu .menucontainer ul li a .img-container{
    width: 160px;
    height: 36px;
    margin-bottom: 5px;
}

.menu .menucontainer ul li.active a .img-container{
    display: none;
}

.menu .menucontainer ul li a .img-container.active{
    display: none;
}

.menu .menucontainer ul li.active a .img-container.active{
    display: block;
}

.menu .menucontainer ul li a .img-container img{
    height: 100%;
    width: auto;
}

.img-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

@media all and (min-width: 1200px){
    body {
        max-height: 100vh !important;
        overflow: hidden;
    }
}