<div class="container-fluid">
	<header class="row">
		<div class="ogd-menu col-lg-11 col-md-11 col-sm-11 col-xs-11">
			<img class="nav-trigger" src="/assets/images/menu-icon.png">
			<div class=" pull-left">
				<div class="name">{{visitorArtefacts.name}}</div>
				<div class="more-about-customer" (click)="openCustomerInfoModal()">+</div>
				<div class="where">Here</div>
			</div>
			<div class="artefacts pull-left">
				<div class="">
					<img src="/assets/images/clock.svg"> Last Visit: {{visitorArtefacts.lastVisit | date:'y d'}} at {{visitorArtefacts.lastVisit | date:'jm'}}<span class="divider"> | </span>
					<span class="currency">₹</span>Last Purchase Amount: {{visitorArtefacts.lastCheck}}
				</div>
				<div class="">
					<img src="/assets/images/call-answer.svg"> {{visitorArtefacts.phoneNumber}}<span class="divider"> | </span>
					<img src="/assets/images/letter.svg"> {{visitorArtefacts.email}}<span class="divider"> | </span> 
					<img src="/assets/images/reward-inactive.png"> {{visitorArtefacts.points}} Points
				</div>
			</div>
		</div>
		<div class="ogd-sign-out col-lg-1 col-md-1 col-sm-1 col-xs-1">
			<app-demo-modal-service-static></app-demo-modal-service-static>
		</div>
	</header>
</div>
<main>
	<div class="container-fluid">
		<div class="row">
			<router-outlet></router-outlet>
		</div>
	</div>
</main>