<div class="secondary-items slim-scroll">
    <button class="item tables" [routerLink]="['/place-selection']" [disabled]="!buttonsEnabled.tables">Tables</button>
    <div>
        <button class="item covers" (click)="guestsEditorOn = !guestsEditorOn" 
                [disabled]="!buttonsEnabled.covers">Covers</button>
        <div class="guests-editor" *ngIf="buttonsEnabled.covers && guestsEditorOn">
            <div class="control add" (click)="editGuestAmount('+')">
                <div>+</div>
                <div>Add</div>
            </div>
            <div class="control remove" (click)="editGuestAmount('-')">
                <div>-</div>
                <div>Remove</div>
            </div>
        </div>
    </div>
    <button class="item hold" [disabled]="!buttonsEnabled.hold" (click)="putOnHold(currentUnit)">Hold</button>
    <button class="item park" [disabled]="!buttonsEnabled.park" (click)="showParkModal()">
        <div class="counter" *ngIf="offUnits.length">{{offUnits.length || ''}}</div>
        Park
    </button>
    <button class="item offers" [disabled]="!buttonsEnabled.offers" (click)="showOffersModal()">Offers</button>
    <!--<button class="item quick-action" [disabled]="!buttonsEnabled.quickAction">Quick Action</button>-->
    <button class="item edit" [disabled]="!buttonsEnabled.edit">Edit</button>
    <button class="item discount" [disabled]="!buttonsEnabled.discount" (click)="showDiscountsModal()">Discount</button>
    <button class="item gift" [disabled]="!buttonsEnabled.gift" (click)="showGiftCardModal()">Add Gift Card</button>
</div>
<div class="primary-buttons">
    <button class="item ot" [disabled]="!buttonsEnabled.ot" (click)="showOTModal()">OT</button>
    <button class="item payment" [routerLink]="['payment']" [disabled]="!buttonsEnabled.payment">
        Payment
    </button>
</div>
