/* options-box.component */

app-options-box {
    display: block;
    height: 100%;
}
.secondary-items {
    height: calc(~'100% - 130px');
    overflow-y: auto;
    width: 100%;
    .item {
        background-position: center 8px !important;
        background-repeat: no-repeat !important;
        line-height: 80px;
        position: relative;
        &.hold {
            background: url(/assets/images/clauses/services/hold.png), #fff;
            &[disabled] {
                background: url(/assets/images/clauses/services/hold-disabled.png), #fff;
            }
        }
        &.park {
            background: url(/assets/images/clauses/services/park.png), #fff;
            &[disabled] {
                background: url(/assets/images/clauses/services/park-disabled.png), #fff;
            }
        }
        &.tables {
            background: url(/assets/images/clauses/services/tables.png), #fff;
            &[disabled] {
                background: url(/assets/images/clauses/services/tables-disabled.png), #fff;
            }
        }
        &.covers {
            background: url(/assets/images/clauses/services/covers.png), #fff;
            &[disabled] {
                background: url(/assets/images/clauses/services/covers-disabled.png), #fff;
            }
        }
        &.offers {
            background: url(/assets/images/clauses/services/offers.png), #fff;
            &[disabled] {
                background: url(/assets/images/clauses/services/offers-disabled.png), #fff;
            }
        }
        &.quick-action {
            background: url(/assets/images/clauses/services/quick-action.png), #fff;
            &[disabled] {
                background: url(/assets/images/clauses/services/quick-action-disabled.png), #fff;
            }
        }
        &.edit {
            background: url(/assets/images/clauses/services/edit.png), #fff;
            &[disabled] {
                background: url(/assets/images/clauses/services/edit-disabled.png), #fff;
            }
        }
        &.gift {
            background: url(/assets/images/clauses/services/gift.png), #fff;
            &[disabled] {
                background: url(/assets/images/clauses/services/gift-disabled.png), #fff;
            }
        }
        &.discount {
            background: url(/assets/images/clauses/services/discount.png), #fff;
            &[disabled] {
                background: url(/assets/images/clauses/services/discount-disabled.png), #fff;
            }
        }
        &[disabled] {
            border-color: #b0b0b0;
            color: #b0b0b0;
        }
    }
    .guests-editor {
        background: #e8ffd9;
        border: 1px solid #63b12d;
        border-radius: 4px;
        color: #63b12d;
        cursor: pointer;
        height: 65px;
        left: -105px;
        margin-top: -66px;
        position: absolute;
        width: 106px;
        .control {
            float: left;
            text-align: center;
            width: 49%;
            > * {
                &:first-child {
                    font-size: 46px;
                    line-height: 40px;
                }
                font-size: 12px;
                line-height: 32px;
                height: 32px;
            }
        }
    }
}
.counter {
    background-color: #FF2A2A;
    border-radius: 3px;
    color: white;
    height: 20px;
    font-size: 12px;
    text-align: center;
    line-height: 20px;
    top: 4px;
    right: 4px;
    position: absolute;
    width: 20px;
}
.primary-buttons {
    position: relative;
    width: 100%;
    .item {
        color: white;
        background-position: center 8px !important;
        background-repeat: no-repeat !important;
        line-height: 80px;
        &.ot {
            background: url(/assets/images/clauses/ot.png), #63b12d;
            &[disabled] {
                background: url(/assets/images/clauses/ot-disabled.png), #b0b0b0;
            }
        }
        &.payment {
            background: url(/assets/images/clauses/payment.png), #63b12d;
            &[disabled] {
                background: url(/assets/images/clauses/payment-disabled.png), #b0b0b0;
            }
        }
        span {
            color: inherit;
        }
        &[disabled] {
            border-color: #b0b0b0;
            color: #e7e7e7;
        }
    }
}
.item {
    display: block;
    height: 65px;
    margin-bottom: 1px;
    margin-right: 1px;
    border: 1px solid #63b12d;
    border-radius: 4px;
    background-color: white;
    color: #63b12d;
    text-align: center;
    text-transform: capitalize;
    line-height: 20px;
    padding-top: 10px;
    width: 106px;
}
.img-container {
    width: 100%;
    margin: 0px auto;
    height: 26px;
    margin-bottom: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
