<div class="modal-header">
    <button type="button" class="close with-img pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">
            <img src="/assets/images/close.svg">
        </span>
    </button>
</div>
<div class="modal-body">
  <div class="container">
    <div> Offers Selected</div>
    <div class="dishes row slim-scroll">
      <div class="dish-container col-sm-6 col-md-4 col-lg-4"
           *ngFor="let offer of offers">
        <div class="dish"
             [class.selected]="offer.selected"
             (click)="offer.selected = !offer.selected"
             style="background-image: url(/assets/images/dish.jpg)">
          <div class="meta clearfix">
            <div class="info pull-left">
              <div class="name">{{offer.name}}</div>
              <div class="description">{{offer.subTitle}}</div>
              <div class="clearfix">
                <div class="pull-left">
                  <div class="when">{{offer.date | date:'d MMMM y'}}</div>
                  <div class="when">{{offer.date | date:'jm'}} to {{offer.date | date:'jm'}}</div>
                </div>
                  <div class="pull-right">
                    <div class="lab">
                      Weekend Offer
                    </div>
                  </div>
              </div>
            </div>
            <div class="options pull-right">
              <div>BUY ONE</div>
              <div>GET ONE</div>
              <div class="hot">FREE</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal-footer">
    <button class="btn pill-btn empty" (click)="modalRef.hide()">Cancel</button>
    <button class="btn pill-btn operative" 
      (click)="decision='select';modalRef.hide()">Select</button>
</div>
