.modal-body {
    height: calc(~"100% - 135px");
    .container, .row {
        height: 100%;
    }
}
.dishes {
    overflow-x: auto;
    padding: 0 7px 7px 0;
}
.dish-container {
    padding: 7px 0 0 7px;
}
.dish {
    background-position: center;
    background-size: cover;
    border-radius: 3px;
    color: #fff;
    height: 168px;
    position: relative;
    &.selected {
        box-shadow: 0 0 0 3px #63b12d;
    }
}
.meta {
    background: rgba(0, 0, 0, 0.5);
    border-radius: 0 0 3px 3px;
    bottom: 0;
    height: 80px;
    position: absolute;
    width: 100%;
}
.name {
    border-bottom: 1px solid #fff;
    margin: 0 4px;
    text-align: center;
}

.info {
    width: 70%;
    .description {
        font-size: 75%;
        margin-bottom: 8px;
        text-align: center;
    }
    .lab {
        background: #63b12d;
        border-radius: 2px;
        font-size: 75%;
        margin-top: 8px;
        padding: 2px 4px;
    }
    .when {
        font-size: 75%;
        padding-left: 8px;
    }
}
.options {
    padding-top: 11px;
    text-align: center;
    width: 30%;
}
.hot {
    color: #FF2A2A;
}
.modal-footer {
    margin-top: 15px;
    button {
        width: 100px;
    }
}