<div class="keyboard" [class.alpha]="keysModel === alphaKeysModel">
  <div class="toprow">
    <button (click)="press({innerAction: 'boom', value: 10})">$10</button>
    <button (click)="press({innerAction: 'boom', value: 20})">$20</button>
    <button (click)="press({innerAction: 'boom', value: 50})">$50</button>
    <button (click)="press({innerAction: 'boom', value: 100})">$100</button>
    <button (click)="press({innerAction: 'boom', value: 500})">$500</button>
    <button (click)="press({innerAction: 'boom', value: 1000})">$1000</button>
  </div>
  <div class="buttons clearfix">
    <button *ngFor="let key of keysModel"
            (click)="press(key)"
            id="{{key.id || key.face}}">{{case ? key.face : key.face.toUpperCase()}}</button>
  </div>
  <div class="botrow">
    <button (click)="press({face: '', innerAction: 'caps'})" id="caps">^</button>    
    <button (click)="press({face: '', innerAction: 'abc'})" id="abc">abc</button>
    <button (click)="press({face: '', action: 'bill'})" id="bill" [disabled]="!payedEnough">Bill</button>
    <button (click)="press({face: '', action: 'print'})" id="print" [disabled]="!payedEnough">Print Bill</button>
    <button (click)="press({face: ' '})" id="space">_</button>
  </div>
</div>