.keyboard {
    bottom: 0px;
    left: 53px;
    position: absolute;
    width: 413px;

    .toprow{
        height: 56px;
        margin-bottom: 3px;
        background-color: white;
        button {
            background: none;
            border: none;
            height: 100%;
            border-right: 1px solid #D4D1D1;
            float: left;
            font-size: 18px;
            font-weight: 600;
            color: #63b12d;
            text-align: center;
            line-height: 72px;
            width: 68.8px;
        }
    }
    &.alpha .toprow button {
        width: 86.6px;                
    }
    .buttons {
        background-color: white;
        border-top: 1px solid #D4D1D1;
    }
    button {
        display: block;
        float: left;
        width: 59px;
        border: 1px solid #D4D1D1;
        box-shadow: 0 -1px 0 #ccc;
        border-left: none;
        border-top: none;
        height: 49px;
        line-height: 48px;
        text-align: center;
        font-size: 18px;
        color: #63b12d;
        font-weight: 600;
        background-color: white;        
    }
    #caps {
        width: 78px;
    }
    #space {
        border-left: 1px solid #D4D1D1;
        border-right: none;
        width: 127px;
    }
    #caps, #space {
        display: none;
    }
    #seven {
        margin-left: 29px;
        border-left: 1px solid #D4D1D1;
    }
    #backspace {
        background-image: url(/assets/images/payments/backspace.png);
        background-position: center;
        background-repeat: no-repeat;
    }
    #refresh {
        background-image: url(/assets/images/payments/return.png);
        background-position: center;
        background-repeat: no-repeat;
    }
    #abc {
        width: 118px;
    }
    #print {
        border: none;
        width: 121px;
    }
    &.alpha {
        left: 0;
        width: 520px;
        
        #abc, #bill, #print {
            width: 105px;
        }
        #caps, #space {
            display: inline-block;
        }
        button {
            width: 52px;
        }
        #a {
            margin-left: 26px;
            border-left: 1px solid #D4D1D1;
        }
    }
    .botrow {
        background-color: white;
        border-top: 1px solid #D4D1D1;
        margin-top: -1px;
        height: 52px;
        border-bottom: 1px solid #D4D1D1;
        button {
            background: #fff;
            border: none;
            border-right: 1px solid #D4D1D1;
            color: #63b12d;
            font-size: 18px;
            font-weight: 600;
            line-height: 48px;
            width: 166px;
            &[disabled] {
                color: #CECECE;
            }
        }
    }
}