<form name="contacts-form" #contactsForm="ngForm" class="ogd-filters__form">
    <div class="form-group ogd-filters__type col-lg-8 col-md-8 col-sm-8">
        <label for="type">Select Type</label>
        <select ngModel #placeToDeliver name="type" class="form-control"
                (change)="changeType(contactsForm.value.type)" id="type">
            <option *ngFor="let place of places" [selected]="place.name == theType" [value]="place.name">{{place.name}}</option>
        </select>
    </div>
    <span class="ogd-filters__more-info col-lg-4 col-md-4 col-sm-4">More info</span>
    <div class="ogd-filters__name col-lg-12 col-md-12 col-sm-12">
        <label for="name">Name<span class="ogd-star">*</span></label>
        <input id="name" type="text" placeholder="Neville Smith"/>
    </div>
    <div class="ogd-filters__phone col-lg-12 col-md-12 col-sm-12">
        <label for="phone">Contact Number<span class="ogd-star">*</span></label>
        <input id="phone" type="tel" placeholder="9852369874"/>
    </div>
    <div class="ogd-filters__mail col-lg-12 col-md-12 col-sm-12">
        <label for="mail">Email ID<span class="ogd-star">*</span></label>
        <input id="mail" type="email" placeholder="neville.smith@gmail.com"/>
    </div>
    <div class="ogd-filters__company col-lg-12 col-md-12 col-sm-12">
        <label for="company">Company Name</label>
        <input id="company" type="text" placeholder="One Green Diary"/>
    </div>
    <div class="ogd-filters__address-1 col-lg-12 col-md-12 col-sm-12">
        <label for="address-1">Address 1</label>
        <input id="address-1" type="text" placeholder="Office 202, Kundan Paradise"/>
    </div>
    <div class="ogd-filters__address-2 col-lg-12 col-md-12 col-sm-12">
        <label for="address-2">Address 2</label>
        <input id="address-2" type="text" placeholder="Bapodi Gaothan, Bopodi"/>
    </div>
    <div class="ogd-filters__city col-lg-8 col-md-8 col-sm-8">
        <label for="city">City</label>
        <input id="city" type="text" placeholder="Bapodi"/>
    </div>
    <div class="ogd-filters__ZIP-code col-lg-4 col-md-4 col-sm-4">
        <label for="ZIP-code">ZIP Code</label>
        <input id="ZIP-code" type="text" placeholder="4321"/>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12">
        <button class="ogd-filters__submit col-lg-offset-2 col-lg-8 col-md-offset-2 col-md-8 col-sm-offset-2 col-sm-8" type="submit">Submit</button>
    </div>
</form>