
.module.left .top {
    height: 60px;
    line-height: 60px;
    text-align: right;
    padding: 0px 10px;
}

.module.left .top .items{
    font-size: 14px;
    color: #666;
    margin-right: 10px;
}

.module.left .top .price{
    font-size: 21px;
    color: #ee2e2e;
}

.carousel-inner>.item,
.carousel-inner>.item.active{
    width: 520px!important;
    margin: 0px;
}

.module.left .panel-group .panel{
    margin: 0px;
    margin-bottom: 1px;
    border-radius: 0px;
    border: none;
}

.module.left .panel-group .panel-heading{
    height: 28px;
    padding: 0px;
    border-radius: 0px;
    border: none;
    line-height: 28px;  
}

.module.left .panel-group .panel-heading a{
    padding-left: 12px;
    font-weight: 600;
    font-size: 12px;
    color: white;
    line-height: 28px;
    display: inline-block;
    width: 100%;
    height: 28px;
    padding-right: 10px;
    background-color: #2A343C;
}

.module.left .panel-group .panel-heading a.collapsed{
    background-color: #202020;
}

.module.left .panel-group .panel-heading a span{
    opacity: 0.7;
    margin-right: 17px;
}

.module.left .panel-group .panel-heading a span:last-child {
    float: right;
    margin: 0px;
    opacity: 1;
}

.module.left .panel-group .panel-body .group{
    overflow: hidden;
    margin-bottom: 15px;
}

.module.left .panel-group .panel-body .group-heading{
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background-color: #76F2BF;
    line-height: 22px;
    text-align: center;
    color: white;
    font-size: 11px;
    font-weight: 600;
    position: relative;
    float: left;
}

.module.left .panel-group .panel-body .group-heading:after{
    content: "";
    width: 2px;
    height: 500px;
    display: block;
    background-image: url(/assets/images/dots.png);
    position: absolute;
    left: 10px;
    top: 10px;
}

.module.left .panel-group .panel-body ul{
padding-left: 31px;
    margin-bottom: 0px;
}

.module.left .panel-group .panel-body ul li{
    list-style-type: none;
    position: relative;
    margin-bottom: 9px;
}

.module.left .panel-group .panel-body ul li:last-child{
    margin-bottom: 0px;
}

.module.left .panel-group .panel-body ul li p{
    font-size: 14px;
    color: #666;
    margin-bottom: 0px;
    width: 160px;
    white-space: nowrap;
    position: relative; 
}

.module.left .panel-group .panel-body ul li p span{
    position: absolute;
    right: -48px;
}

.module.left .panel-group .panel-body ul li p.add{
        font-size: 12px;
    color: #787878;
    padding-left: 12px;
    margin-top: -2px;
    letter-spacing: -0.4px;
}

.module.left .panel-group .panel-body ul li p.add span{
    
}

.module.left .panel-group .panel-body ul li a.remove{
    display: block;
    width: 12px;
    height: 15px;
    background-image: url(/assets/images/remove.png);
    right: 0px;
    position: absolute;
    top: 8px;
    
}

.module.left .print {
    position: absolute;
    bottom: 20px;
    width: 100%;
    text-align: center;
}

.module.left .print a {
    width: 129px;
    height: 35px;
    display: inline-block;
    border-radius: 18px;
    background-color: #63b12d;
    color: white;
    line-height: 35px;
    text-align: center;
}


.ogd-filters__form,
.ogd-details {
    background-color: #fff;
    border-radius: 5px;
    padding: 15px;
    margin: 0;
}

/*---filters---*/
.ogd-filters {
    padding: 0 17px 0 0;
}

.ogd-star {
    color: red;
}

.ogd-filters__form {
    padding: 10px 0 0 5px;
}

.ogd-filters__form input,
.ogd-filters__form select {
    border: 1px solid #b6c6b7;
    border-radius: 1px;
    color: inherit;
    width: 98%;
    padding: 10px 5px;
}
.ogd-filters__form select {
    height: 42px;
    padding: 0 5px;
}

.ogd-filters__form label {
    display: block;
    margin: 18px 0 3px 1px;
    font-size: 12px;
}

.ogd-filters__more-info {
    text-decoration: none;
    margin-top: 45px;
    font-size: 14px;
    color: #2ed13b;
    cursor: pointer;
}

.ogd-filters__ZIP-code {
    padding-right: 20px;
}

.ogd-filters__submit {
    background-color: #d3e3c7;
    border: 1px solid #dee8d6;
    border-radius: 3px;
    color: inherit;
    font-size: inherit;
    font-family: inherit;
    margin-bottom: 15px; 
    margin-top: 15px;
    padding: 5px;
}

.ogd-filters__submit:hover {
    cursor: pointer;
    opacity: 0.9;
}

.ogd-filters__submit:active {
    cursor: pointer;
    opacity: 0.8;
}