
  <div class="modal-header">
      <h4 class="modal-title pull-left">Assigning staff</h4>
  </div>
  <div class="modal-body">
      <table>
          <tr>
              <td>Table</td>
              <td>{{unitsStr}}</td>
          </tr>
          <tr>
              <td>Assigning staff</td>
              <td>
                  <select #assignySelect (change)="modalRef.content.assigny = assignySelect.value">
                      <option selected="selected"></option>
                      <option>John</option>
                      <option>Tony</option>
                  </select>
              </td>
          </tr>
      </table>
  </div>
  <div class="modal-footer">
      <button class="btn pill-btn empty" (click)="modalRef.hide()">Cancel</button>
      <button class="btn pill-btn operative" 
              (click)="decision='assign';modalRef.hide()">Done</button>
  </div>