.modal-body {
    width: 360px;
}
.modal-footer .btn {
    width: 80px;
}
.modal-body table tr td:first-child {
    text-align: right;
    padding-right: 20px;
    width: 120px;
}
.modal-footer {
    text-align: center;
}
.modal-body select {
    padding: 6px 4px;
    width: 200px;
}