.payment-wrapper {
    background: rgba(0,0,0, 0.8);
    display: block;
    height: 100%;
    left: 340px;
    position: fixed;
    top: 0;
    width: calc(100% - 340px);
}
.paymentbody {
    height: 100%;
    margin: 0 auto;
    padding: 30px;
}
.paymentbody .modal-content {
    background: transparent;
    border: none;
    box-shadow: none;
    position: relative;
    height: 100%;
}

.paymentbody .top {
    margin-bottom: 5px;
}

.paymentbody .top a {
    display: inline-block;
    width: 205px;
    height: 38px;
    border-radius: 19px;
    background-color: #63b12d;
    line-height: 38px;
    color: white;
    font-size: 16px;
    text-transform: capitalize;
    border: none;
    padding-left: 15PX;
    overflow: hidden;
    margin-right: 7px;
}

.paymentbody .top a.inactive {
background-color: #CECECE;
}

.paymentbody .top a span{
display: inline-block;
float: right;
background-color: white;
width: 65px;
color: #63b12d;
font-size: 20px;
text-align: right;
padding-right: 10px;
}

.paymentbody .top a.inactive span{
    color: #CDCDCD;
}

.paymentbody .paymentmethod {
    position: relative;
    height: calc(100% - 20px);
}

.paymentbody .paymentmethod ul {
border: none;
}

.paymentbody .paymentmethod ul li {
    width: 100px;
    height: 100px;
    border: #7BCA4F 1px solid;
    background-color: white;
    border-radius: 3px;
    margin-right: 5px;
}

.paymentbody .close {
    position: relative;
    display: block;
    height: 30px;
    width: 30px;
    background-image: url(/assets/images/payments/close.png);
    top: 4px;
    right: 25px;
    background-position: center;
    background-size: 100%;
    opacity: 1;
    z-index: 9;
}

.paymentbody .paymentmethod ul li .img-container{
height: 60px;
display: flex;
justify-content: center;
align-items: center;
}

.paymentbody .paymentmethod ul li:nth-child(5){
margin: 0px;
}

a:hover,
a:focus,
a:visited{
text-decoration: none!important;
}

.paymentbody .paymentmethod ul li.active{
border-color: #3A7EC9;
}

.paymentbody .paymentmethod ul li.inactive{
border-color: #CECECE;
}

.paymentbody .paymentmethod ul li a{
text-align: center;
padding: 0px;
display: block;
border-radius: 0px;
height: 100%;
border: none!important;
font-size: 16px;
color: #666;
font-weight: 600;
}

.modal-backdrop.in{
width: calc(100% - 339px);
left: 339px;
opacity: 0.8;
}

.modal-open .modal#payment{
width: calc(100% - 339px);
left: 339px;
overflow: visible;
z-index: 3000;
min-width: 640px;
}

.modal.in .modal-dialog {
    width: 640px;
    padding: 60px;
    margin-top: calc(50vh - 349px);
    position: relative;
    width: 600px;
    padding: 30px;
    margin: 0 auto;
}

.paymentbody .paymentmethod .tab-pane{
padding-left: 53px;
}

#carousel-paymentmethods .carousel-indicators{
bottom: -42px;
}

#carousel-paymentmethods .carousel-indicators li{
width: 11px;
height: 11px;
background-color: white;
border-color: #63b12d;
margin: 0px 3px;
}

#carousel-paymentmethods .carousel-indicators li.active{
background-color: #63b12d;
}

.paymentbody .input-group{
width: 413px;
margin-top: 107px;
}

.paymentbody .input-group input{
border-radius: 0px;
border: none;
height: 50px;
}

.paymentbody .input-group:before{
content: "$";
position: absolute;
z-index: 200;
font-size: 25px;
color: #a5a5a5;
display: block;
height: 50px;
line-height: 50px;
left: 55px;
}

.paymentbody .input-group .inputlabel{
position: absolute;
z-index: 100;
border-right: 2px solid #A1B9C7;
height: 34px;
top: 8px;
width: 45px;
text-align: center;
display: flex;
justify-content: center;
align-items: center;
}

.paymentbody .input-group input{
padding-left: 80px;
font-size: 20px;
line-height: 50px;
padding-right: 54px;
}

.paymentbody .input-group .inputlabel img{
height: 80%;
}

.paymentbody .input-group span button{
padding: 0px;
height: 50px;
border: none;
border-radius: 0px;
margin: 0px;
width: 97px;
color: white;
background-color: #63b12d;
font-size: 20px;
font-weight: 600;
}

.paymentbody .input-group .currency{
position: absolute;
font-size: 30px;
color: #63b12d;
line-height: 50px;
right: 97px;
z-index: 100;
display: block;
width: 54px;
text-align: center;
border-left: 2px solid #8CD066;
}

.paymentbody #card .radio{
color: rgba(255,255,255,0.6);
position: relative;
top: 30px;
}

.paymentbody #card .radio input{
position: relative;
left: 30px;
top: -6px;
cursor: pointer;
}

.paymentbody #card .keyboard{
bottom: 30px;
}

.paymentbody #card .radio input:after{
content: "";
display: block;
width: 63px;
height: 32px;
background-image: url(/assets/images/payments/radio.png);
position: relative;
left: -20px;
top: -1px;
}

.paymentbody #card .radio input:before{
content: "";
width: 22px;
height: 22px;
border-radius:50%;
background-color: #7BCA4F;
display: block;
position: absolute;
top: 4px;
left: -14px;
z-index: 10;
transition: all 0.3s ease;
filter: grayscale(100%);
}

.paymentbody #card .radio input:checked:before{
content: "";
left: 14px;
transition: all 0.3s ease;
filter: grayscale(0%);
}

.paymentbody .account-balance{
width: 123px;
height: 41px;   
border: 1px solid #B1C7BB;
border-radius: 1px;
font-size: 20px;
color: #666;
background-color: #D9D9D9;
margin-top: 7px;
line-height: 39px;
text-align: center;
}

.paymentbody #reward p:first-child{
font-size: 16px;
color: white;
margin-bottom: 0px;
position: relative;
top: 105px;
}

.paymentbody #giftcard p.cardnumber{
    color: white;
    opacity: 0.6;
    position: relative;
    top: 88px;
}
.carousel-inner {
    height: 100px;
}
.carousel-inner > .item,
.carousel-inner > .item.active {
    left: -100%;
    position: absolute;
    top: 0;
    width: 520px !important;
}

.paymentbody #giftcard p.cardnumber:after{
content: "*";
font-size: 12px;
color: #ff6060;
position: relative;
top: -4px;
}

.paymentbody #giftcard input.cardnumber{
width: 413px;
border: 1px solid #B1C7B8;
border-radius: 1px;
height: 42px;
position: relative;
top: 79px;
}

.paymentbody #giftcard .input-group{
margin-top: 83px;
}

.paymentbody #reward p:first-child span{
font-weight: 600;
font-size: 20px;
}

.paymentbody #reward .input-group input{
padding-right: 130px;
}

.paymentbody #reward .input-group input.addinput{
width: 70px;
position: absolute;
right: 151px;
z-index: 10;
display: block;
min-width: 30px;
padding: 0px;
color: black;
font-weight: 600;
text-align: right;
padding-right: 8px;
font-size: 21px;
}

.paymentbody #reward p:nth-child(4){
font-size: 14px;
color: #f93f3f;
width: 220px;
float: right;
position: relative;
right: 60px;
top: -40px;
}