<div class="modal payment-wrapper" id="payment" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog paymentbody" role="document">
    <a [routerLink]="['/food-ordering']" class="close" data-dismiss="modal" aria-label="Close" (click)="closePayment()"></a>
    <div class="modal-content">
      <div class="top">
        <a href="#" class="inactive">pay from diary<span>$ 100</span></a>
        <a href="#">save to diary<span>$ 100</span></a>
      </div>
      <div class="paymentmethod">
        <div id="carousel-paymentmethods" class="carousel slide" data-ride="carousel">
          <!-- Indicators -->
          <ol class="carousel-indicators">
            <li data-target="#carousel-paymentmethods" data-slide-to="0" (click)="slideTo(0, slides)" [class.active]="currentSlideIndex === 0"></li>
            <li data-target="#carousel-paymentmethods" data-slide-to="1" (click)="slideTo(1, slides)" [class.active]="currentSlideIndex === 1"></li>
            <li data-target="#carousel-paymentmethods" data-slide-to="2" (click)="slideTo(2, slides)" [class.active]="currentSlideIndex === 2"></li>
          </ol>
          <div class="carousel-inner" id="payment-options" role="listbox" #slides>
            <div class="item active">
              <ul class="nav nav-tabs" role="tablist">
                <li (click)="letsPayWith('reward')" role="presentation" class="inactive">
                  <a aria-controls="reward" role="tab" data-toggle="tab">
                    <div class="img-container">
                      <img src="/assets/images/payments/reward-inactive.png">
                    </div>
                    Reward
                  </a>
                </li>
                <li (click)="letsPayWith('giftCard')" role="presentation">
                  <a aria-controls="giftcard" role="tab" data-toggle="tab">
                    <div class="img-container">
                      <img src="/assets/images/payments/giftcard.png">
                    </div>
                    Gift Card
                  </a>
                </li>
                <li (click)="letsPayWith('coupon')" role="presentation">
                  <a aria-controls="coupon" role="tab" data-toggle="tab">
                    <div class="img-container">
                      <img src="/assets/images/payments/coupon.png">
                    </div>
                    Coupon
                  </a>
                </li>
                <li (click)="letsPayWith('card')" role="presentation">
                  <a aria-controls="card" role="tab" data-toggle="tab">
                    <div class="img-container">
                      <img src="/assets/images/payments/card.png">
                    </div>
                    Card
                  </a>
                </li>
                <li (click)="letsPayWith('cash')" role="presentation" class="active">
                  <a aria-controls="cash" role="tab" data-toggle="tab">
                    <div class="img-container">
                      <img src="/assets/images/payments/cash-active.png">
                    </div>
                    Cash
                  </a>
                </li>
              </ul>
            </div>
            <div class="item">
              <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="inactive">
                  <a href="#reward" aria-controls="reward" role="tab" data-toggle="tab">
                    <div class="img-container">
                      <img src="/assets/images/payments/reward-inactive.png">
                    </div>
                    Reward
                  </a>
                </li>
                <li role="presentation">
                  <a href="#giftcard" aria-controls="giftcard" role="tab" data-toggle="tab">
                    <div class="img-container">
                      <img src="/assets/images/payments/giftcard.png">
                    </div>
                    Gift Card
                  </a>
                </li>
                <li role="presentation">
                  <a href="#coupon" aria-controls="coupon" role="tab" data-toggle="tab">
                    <div class="img-container">
                      <img src="/assets/images/payments/coupon.png">
                    </div>
                    Coupon
                  </a>
                </li>
                <li role="presentation">
                  <a href="#card" aria-controls="card" role="tab" data-toggle="tab">
                    <div class="img-container">
                      <img src="/assets/images/payments/card.png">
                    </div>
                    Card
                  </a>
                </li>
                <li role="presentation" class="active">
                  <a href="#cash" aria-controls="cash" role="tab" data-toggle="tab">
                    <div class="img-container">
                      <img src="/assets/images/payments/cash-active.png">
                    </div>
                    Cash
                  </a>
                </li>
              </ul>
            </div>
            <div class="item">
              <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="inactive">
                  <a href="#reward" aria-controls="reward" role="tab" data-toggle="tab">
                    <div class="img-container">
                      <img src="/assets/images/payments/reward-inactive.png">
                    </div>
                    Reward
                  </a>
                </li>
                <li role="presentation">
                  <a href="#giftcard" aria-controls="giftcard" role="tab" data-toggle="tab">
                    <div class="img-container">
                      <img src="/assets/images/payments/giftcard.png">
                    </div>
                    Gift Card
                  </a>
                </li>
                <li role="presentation">
                  <a href="#coupon" aria-controls="coupon" role="tab" data-toggle="tab">
                    <div class="img-container">
                      <img src="/assets/images/payments/coupon.png">
                    </div>
                    Coupon
                  </a>
                </li>
                <li role="presentation">
                  <a href="#card" aria-controls="card" role="tab" data-toggle="tab">
                    <div class="img-container">
                      <img src="/assets/images/payments/card.png">
                    </div>
                    Card
                  </a>
                </li>
                <li role="presentation" class="active">
                  <a href="#cash" aria-controls="cash" role="tab" data-toggle="tab">
                    <div class="img-container">
                      <img src="/assets/images/payments/cash-active.png">
                    </div>
                    Cash
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane active" id="reward" *ngIf="paymentWay == 'reward'">
            <p>Reward points: <span>1000</span></p>
            <div class="input-group">
              <div class="inputlabel">
                <img src="/assets/images/payments/reward-inactive.png">
              </div>
              <input type="text" class="form-control" [(ngModel)]="money" (keyup)="movesDetected()" (change)="movesDetected()" screen-keys focus>
              <span class="input-group-btn">
                <button class="btn btn-default" type="button">Done</button>
              </span>
              <input type="text" class="addinput" name="rewardfield" screen-keys>
              <a href="#" class="currency">$</a>
            </div>
            <div class="account-balance">{{compute()}}</div>
            <p>Minimum redeem point shoud be greater than 100</p>
            <app-screen-keys (key-press)="reactOnKeys($event)"></app-screen-keys>
          </div>
          <div role="tabpanel" class="tab-pane active" id="giftcard" *ngIf="paymentWay == 'giftCard'">
            <p class="cardnumber">Gift Card NO.</p>
            <input screen-keys class="cardnumber" type="text">
            <div class="input-group">
              <div class="inputlabel">
                <img src="/assets/images/payments/giftcard-inactive.png">
              </div>
              <input screen-keys type="text" class="form-control" [(ngModel)]="money" (keyup)="movesDetected()" (change)="movesDetected()" focus>
              <span class="input-group-btn">
                <button class="btn btn-default" type="button">Done</button>
              </span>
              <a href="#" class="currency">$</a>
            </div>
            <div class="account-balance">{{compute()}}</div>
            <app-screen-keys (key-press)="reactOnKeys($event)"></app-screen-keys>
          </div>
          <div role="tabpanel" class="tab-pane active" id="coupon" *ngIf="paymentWay == 'coupon'">
            <div class="input-group">
              <div class="inputlabel">
                <img src="/assets/images/payments/coupon-inactive.png">
              </div>
              <input screen-keys type="text" class="form-control" [(ngModel)]="money" (keyup)="movesDetected()" (change)="movesDetected()" focus>
              <span class="input-group-btn">
                <button class="btn btn-default" type="button">Done</button>
              </span>
              <a href="#" class="currency">$</a>
            </div>
            <div class="account-balance">{{compute()}}</div>
            <app-screen-keys (key-press)="reactOnKeys($event)"></app-screen-keys>
          </div>
          <div role="tabpanel" class="tab-pane active" id="card" *ngIf="paymentWay == 'card'">
            <div class="input-group">
              <div class="inputlabel">
                <img src="/assets/images/payments/card-inactive.png">
              </div>
              <input screen-keys type="text" class="form-control" [(ngModel)]="money" (keyup)="movesDetected()" (change)="movesDetected()" focus>
              <span class="input-group-btn">
                <button class="btn btn-default" type="button">Done</button>
              </span>
              <a href="#" class="currency">$</a>
            </div>
            <div class="account-balance">{{compute()}}</div>
            <div class="radio">
              Online payment
              <input type=checkbox>
            </div>
            <app-screen-keys (key-press)="reactOnKeys($event)"></app-screen-keys>
          </div>
          <div role="tabpanel" class="tab-pane active" id="cash" *ngIf="paymentWay == 'cash'">
            <div class="input-group">
              <div class="inputlabel">
                <img src="/assets/images/payments/cash-inactive.png">
              </div>
              <input screen-keys type="text" class="form-control" [(ngModel)]="money" (keyup)="movesDetected()" (change)="movesDetected()" focus>
              <span class="input-group-btn">
                <button class="btn btn-default" type="button">Done</button>
              </span>
              <a href="#" class="currency">$</a>
            </div>
            <div class="account-balance">{{compute()}}</div>
            <app-screen-keys (key-press)="reactOnKeys($event)"></app-screen-keys>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>