<div class="modal-header">
    <h4 class="modal-title pull-left">
      {{dish.name}}
      <span>{{dish.price | currency:"USD":true:"2.2"}}</span>
      <div class="description">
        <a class="ogd-link">Show Product Description
          <img src="/assets/images/hide.svg">
        </a>
      </div>
    </h4>
    
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">
          <img src="/assets/images/close.svg">
      </span>
    </button>
</div>
<div class="modal-body">
  <div class="row">
      <div class="col-6">
          <table>
              <tr class="block1">
                <td><label>Type</label><h4>Restaurant</h4></td>
                <td><label>Supplier</label><h4>Era Bakery</h4></td>
                <td><label>Brand</label><h4>-</h4></td>
                <td><label>Supplier Price</label><h4>30.00</h4></td>
              </tr>
          </table>
          <div class="block2 clearfix">
            <div class="clearfix">
                <label>OUTLET</label>
                <label>INVENTORY COUNT</label>
            </div>
            <div class="clearfix">
                <h4>Main Outlet</h4>
                <h4>30</h4>
            </div>
          </div>
      </div>
    </div>
</div>