
.modal-header {
    border-bottom: 1px solid #ccc;
    .description {
        font-size: 14px;
        font-weight: normal;
    }
    .close {
        height: 40px;
        width: 40px;
    }
    .ogd-link img {
        color: #63b12d;
        height: 30px;
        width: 30px;
    }
}
.modal-body {
    margin: 40px;
    width: 800px;
    max-width: 100%;
    table {
        margin: 0 auto;
        width: 709px;
        text-align: center;
    }
    .block1 {
        td {
            width: 25%;
        }
        label {
            font-size: 12px;
            font-weight: 100;
        }
    }
    .block2 {
        width: 640px;
        margin: auto;
        margin-top: 40px;
        
        > div {
            &:last-child {
                background: #eee;
                border-top: 1px solid #ccc;
            }
            *:first-child {
                float: left;
                text-align: center;
                width: 20%;
            }
            *:last-child {
                float: right;
                text-align: center;
                width: 30%;
            }
        }
    }
}