.component-wrapper span {
    color: #999;
    font-size: 16px;
}

.done-btn {
    border: 1px solid #A0F664;
    color: #000;
    border-radius: 20px;
    background-color: #fff;
    float: right;
    padding: 5px 40px;
    margin-top: -4px;
}
.box-header {
    border-bottom: 1px solid #63b12d;
    padding: 18px 10px 0 20px;
    height: 60px;
    position: relative;
    z-index: 2;
    span {
        color: #999;
        font-size: 16px;
        line-height: 27px;
    }
}

.ogd-select-section__button {
    border: 1px solid #63b12d;
    color: #000;
    border-radius: 20px;
    background-color: #fff;
    float: right;
    padding: 5px 40px;
    margin-top: -4px;
    &:hover {
        color: #fff;
        background-color: #63b12d;
        cursor: pointer;
    }
    &:active {
        opacity: 0.9;
    }
}

