
<div class="module left slim-scroll">
  <app-configs-box (deliveryType)="updateState($event)"></app-configs-box>
</div>
<div class="module center slim-scroll">
  <div class="box-header">
      <span class="ogd-select-section__name">Select Section</span>
      <a class="ogd-select-section__button" [routerLink]="['/food-ordering']">Done</a>
  </div>
  <app-map *ngIf="placeType == 'home'"></app-map>
  <app-selects-box *ngIf="placeType == 'here'"></app-selects-box>
</div>
<div class="module options slim-scroll">
  <app-options-box></app-options-box>
</div>