@font-face {
    font-family: OpenSans-Regular;
    src: url(/assets/fonts/OpenSans-Regular.ttf);
}
html body {
    background-color: #f2f2f2;
    color: #6a6a67;
    font-family: OpenSans-Regular, sans-serif;
    font-size: 14px;
    min-width: 900px! important;
    overflow-y: hidden;
}
header {
    padding: 15px 5px 10px 5px;
    height: 75px;
}
main {
    background-color: #f2f2f2;
    padding: 20px 10px;
    height: calc(100vh - 75px);
}

.full-height-only {
	max-height: 100%;
}
.ogd-name {
    padding: 4px 0 0 2px;
    font-size: 24px;
}
.ogd-sign-out img {
    margin-top: 5px;
}
.container {
	width: 100%;
	padding: 0px 20px;
}

.ogd-modal {
	display: flex !important;
}
.ogd-modal .modal-dialog {
	margin: auto;
}

