<div class="ogd-select-section">
    <div class="places row">
        <div *ngFor="let place of places; let i = index" (click)="selectPlace(place)"
             class="place" [class.with-visitors]="place.chosen">
            <span>{{place.name}}-{{getEngagment(place)}}</span>
        </div>
    </div>
</div>
<div class="ogd-select-table">
    <div class="ogd-select-table__info">
        <span class="ogd-select-table__name">Select Table</span>
        <div class="ogd-select-table__buttons">
            <a (click)="openAssignStaffModal()"><img src="/assets/images/man-button.png"></a>
            <span class="ogd-merge-buttons" [hidden]="!currentPlace.mergeOpen">
                <a><img class="ogd-unmerge" (click)="unmerge()" src="/assets/images/unmerge.png"></a>
                <a><img class="ogd-merge" (click)="merge()" src="/assets/images/merge.png"></a>
            </span>
            <a (click)="toggleMergeState(!currentPlace.mergeOpen)">
                <img class="ogd-arrow-button" src="/assets/images/arrow-button.png">
            </a>
        </div>
    </div>
    <div class="table-select-boxes row">
        <div class="table-select-box" 
             *ngFor="let unit of currentPlace.units"
             [class.chosen]="unit.chosen"
             [class.phase-one]="unit.activePhase && unit.activePhase.name === 'green'"
             [class.phase-two]="unit.activePhase && unit.activePhase.name === 'red'"
             [class.phase-three]="unit.activePhase && unit.activePhase.name === 'blue'"
             (click)="handleUnitClick(unit)">
            <div class="tables">
                <span *ngFor="let table of unit.tables; let i = index">
                    {{table}}
                    <span *ngIf="i + 1 < unit.tables.length">&</span>
                </span>
            </div>
            <div class="time" *ngIf="unit.activePhase">{{unit.activePhase.timerText}}</div>
        </div>
    </div>
</div>