
.place {
    position: relative;
    background-color: #f1f5ee;
    border-bottom: 1px solid #acb0aa;
    cursor: pointer;
    text-align: center;
    height: 40px;
    padding: 5px 0;
    width: 25%;
    float: left;
}
.place span {
    position: relative;
    display: inline-block;
    line-height: 30px;
    box-shadow: 1px 0 0 #acb0aa;
    width: 100%;
    z-index: 100;
}
.place.with-visitors {
    background-color: #64b12f;
}
.place.with-visitors span {
    background-color: #64b12f;
    color: #fff;
    overflow: hidden;
    padding: 5px;
    margin-top: -5px;
}
/*.place:nth-child(4n) span {
    box-shadow: none;
}*/

.ogd-filters {
    padding: 0 17px 0 0;
}

.ogd-star {
    color: red;
}

.ogd-details {
    padding: 15px 0;
    width: 51.5%;
    height: calc(100vh - 110px);
    max-height: 750px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.ogd-select-table__info span {
    color: #999999;
    font-size: 16px;
    line-height: 27px;
}
.ogd-select-table__info span[hidden] {display: none;}

.places {
    border-bottom: 1px solid #868686;
    height: 80px;
    overflow-y: scroll;
    overflow-x: hidden;
    margin: 0;
}
.places::-webkit-scrollbar-track {
    border-radius: 10px;
}

.places::-webkit-scrollbar {
    width: 15px;
    border-left: 1px solid #868686;
}

.places::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #868686;
    border: 5px solid transparent;
    background-clip: content-box;
}

.ogd-select-table__info {
    height: 45px;
    border-bottom: 1px solid #63b12d;
    padding: 0 10px 0 20px;
}

.ogd-select-table {
    padding: 35px 0 0 0;
}

.ogd-select-table__info {
    height: 30px;
}

.ogd-select-table__buttons {
    float: right;
    margin-top: -7px;
}

.ogd-select-table__buttons a:hover {
    opacity: 0.8;
}

.ogd-select-table__buttons a:active {
    opacity: 0.9;
}

.table-select-boxes {
    text-align: center;
    padding: 20px 5px;
    margin: 0;
}

.table-select-box {
    background-color: #d3e3c7;
    border-radius: 2px;
    float: left;
    height: 54px;
    margin: 3px;
    padding: 0 4px;
    min-width: 54px;
}
.table-select-boxes .table-select-box.phase-one {
    background: #CBFFA3;
    color: #6a6a67;
}
.table-select-boxes .table-select-box.phase-two {
    background: #ffdfba;
    color: #6a6a67;
}
.table-select-boxes .table-select-box.phase-three {
    background: #bae1ff;
    color: #6a6a67;
}
.table-select-box.chosen {
    background: rgb(145, 164, 132);
    box-shadow: 0 0 0 1px #64b12f;
    color: rgb(255, 255, 255);
}

.table-select-box:hover {
    opacity: 0.9;
    cursor: pointer;
}

.table-select-box:active {
    opacity: 0.8;
}

.table-select-box .tables {
    margin-top: 16px;
}

.table-select-box .time {
    font-size: 10px;
}

.module.center .top {
    height: 60px;
}
.ogd-merge-buttons {
    background-color: #d3e3c8;
    display: inline-block;
    text-align: center;
    line-height: 24px;
    margin-right: -5px;
    margin-top: -5px;
    border-radius: 3px;
}
.ogd-merge-buttons a {
    width: 31px;
    height: 31px;
    display: inline-block;
    margin-right: -1px;
}
.ogd-merge-buttons img {
    margin-top: 3px;
}

.module.center .tabs {
    border-top: 1px solid #63b12d;
}

.module.center .tabs ul {
    height: 82px;
    overflow-y: auto;
    border-bottom: none;
}

.module.center .tabs ul li {
    height: 41px;
    width: 25%;
    text-align: center;
    background-color: #F0F5EE;
    border-bottom: 1px solid #ACB1AB;
    margin: 0px;
}

.module.center .tabs ul li a {
    border: none;
    font-size: 16px;
    color: #666;
    padding: 0px;
    line-height: 40px;
}

.module.center .tab-content{
    padding-left: 1px;
    padding-top: 7px;
    padding-right: 6px;
}

.module.center .tab-content .item {
    width: 151px;
    height: 120px;
    float: left;
    margin-left: 7px;
    margin-bottom: 7px;
    border-radius: 3px;
    overflow: hidden;
    position: relative;
}

.module.center .tab-content .item .img-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.module.center .tab-content .item .img-container img {
    height: 100%;
    width: auto;
}

.module.center .tab-content .item .caption {
        height: 56px;
    background-color: rgba(0,0,0,0.7);
    position: absolute;
    width: 100%;
    bottom: 0px;
    font-size: 16px;
    color: white;
    font-weight: 600;
    padding: 3px 10px;
}

.module.center .tab-content .item .caption .price{
    float: left
}

.module.center .tab-content .item .caption .save {
    float: right;
}

.module.center .tab-content .item .caption .name {
    position: relative;
    top: -1px;
}

.module.center .tab-content .item .labels {
    position: absolute;
    right: 5px;
    top: 5px;
}

.module.center .tab-content .item .labels .quantity {
    width: 29px;
    height: 29px;
    background-color: #ff2a2a;
    border-radius: 3px;
    text-align: center;
    line-height: 29px;
    font-size: 20px;
    color: white;
    box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.63);
}