.modal-body {
    padding-top: 0;
    width: 700px;
    .col {
        width: 48%;
    }
    .col-form-label {
        font-size: 85%;
        margin-bottom: 0;
    }
    .form-control {
        border-radius: 3px;
        height: 36px;
        &:not(:last-child) {
            margin-bottom: 16px;
        }
    }
    input[type="date"] {
        background: url(/assets/images/calendar.png), #fff;
        background-position: 284px 3px;
        background-repeat: no-repeat;
        background-size: 28px;
        padding-right: 40px;
    }
    .ng-touched.ng-invalid:not(:focus) {
        border-color: #ee2e2e;
    }
}
.red {
    color: #ee2e2e;
}

.modal-footer {
    button {
        width: 100px;
    }
}