<div class="modal-header">
    <h4 class="modal-title pull-left">Customer Information</h4>
    <button type="button" class="close with-img pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">
            <img src="/assets/images/close.svg">
        </span>
    </button>
</div>
<div class="modal-body">
    <form #customerInfo="ngForm" name="customerInfo">
      <div class="clearfix">
          <div class="col pull-left">
              <label for="nameInput" class="col-form-label">
                Name<span class="red">*</span>
              </label>
              <input type="text" class="form-control" #nameInput="ngModel"
                     [(ngModel)]="customerInfoModal.name" name="nameInput" required>

              <label for="emailInput" class="col-form-label">
                Email ID<span class="red">*</span>
              </label>
              <input type="email" class="form-control" #emailInput="ngModel" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
                     [(ngModel)]="customerInfoModal.email" name="emailInput" required>

              <label for="birdthdayInput" class="col-form-label">
                 Birdthday
                </label>
              <input type="date" class="form-control" #birdthdayInput="ngModel" [(ngModel)]="customerInfoModal.birdthday" name="birdthdayInput">

              <label for="sposeInput" class="col-form-label">
                  Spose
                </label>
              <input type="date" class="form-control" #sposeInput="ngModel" [(ngModel)]="customerInfoModal.spose" name="sposeInput">
  
              <label for="address1Input" class="col-form-label">
                  Address 1<span class="red">*</span>
                </label>
              <input type="text" class="form-control" #address1Input="ngModel"
                     [(ngModel)]="customerInfoModal.address1" name="address1Input" required>

              <div class="clearfix">
                <div class="pull-left" style="width: 65%;">
                  <label for="cityInput" class="col-form-label">
                    City<span class="red">*</span>
                  </label>
                  <input type="text" class="form-control" #cityInput="ngModel" pattern="^[a-zA-Z]+(?:[\s-][a-zA-Z]+)*$"
                         [(ngModel)]="customerInfoModal.city" name="cityInput" required>

                </div>
                <div class="pull-right" style="width: 30%;">
                    <label for="zipInput" class="col-form-label">
                      Zip Code<span class="red">*</span>
                    </label>
                    <input type="number" class="form-control" #zipInput="ngModel" [(ngModel)]="customerInfoModal.zip" name="zipInput">
                    
                </div>
              </div>
          </div>
          <div class="col pull-right">
              <label for="numberInput" class="col-form-label">
                Contact No<span class="red">*</span>
              </label>
              <input type="text" class="form-control" #numberInput="ngModel" pattern="^\+?\d{2}(\d{3}|\(\d{3}\))\d{7}$"
                     [(ngModel)]="customerInfoModal.number" name="numberInput" required>
    
              <label for="companyNameInput" class="col-form-label">
                  Company Name
                </label>
              <input type="text" class="form-control" #companyNameInput="ngModel" [(ngModel)]="customerInfoModal.companyName" name="companyNameInput">
  
              <label for="aniversaryInput" class="col-form-label">
                  Anniversary
                </label>
              <input type="date" class="form-control" #anniversaryInput="ngModel" [(ngModel)]="customerInfoModal.anniversary" name="anniversaryInput">
  
              <label for="childsBirdthdayInput" class="col-form-label">
                  Child's Birdthday
                </label>
              <input type="date" class="form-control" #childsBirdthdayInput="ngModel" [(ngModel)]="customerInfoModal.childsBirdthday" name="childsBirdthdayInput">

              <label for="address2Input" class="col-form-label">
                  Address 2
                </label>
              <input type="text" class="form-control" #address2Input="ngModel" [(ngModel)]="customerInfoModal.address2" name="address2Input">
  
          </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn pill-btn empty" (click)="modalRef.hide()">Cancel</button>
    <button class="btn pill-btn operative" (click)="decision='select';modalRef.hide()">Select</button>
</div>
