<div class="modal-header">
    <h4 class="modal-title pull-left"></h4>
    <button type="button" class="close with-img pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">
            <img src="/assets/images/close.svg">
        </span>
    </button>
</div>
<div class="modal-body">
    <div class="form-group">
        <label>Gift Card NO</label>
        <input class="form-control" type="number">                                                
    </div>
    <div class="form-group">
      <label for="example-date-input" class="col-form-label">Valid up to</label>
      <div class="">
        <input class="form-control" type="date" value="2011-08-19" id="example-date-input">
      </div>
    </div>
    <div class="">
        <label>Amount</label>
        <input class="form-control" type="number">                                                
    </div>
</div>
<div class="modal-footer">
    <button class="btn pill-btn empty" (click)="modalRef.hide()">Cancel</button>
    <button class="btn pill-btn operative" 
      (click)="decision='done';modalRef.hide()">Done</button>
</div>